<div class="form-container">
    <form>
      <!-- Documento de Identidad -->
      <div class="form-group">
        <label for="documento">Documento de Identidad <div class="obvio">*</div></label>
        <input type="text" id="documento" placeholder="Ingresa tu documento" />
      </div>
  
      <!-- Nombre -->
      <div class="form-group">
        <label for="nombre">Nombre <div class="obvio">*</div></label>
        <input type="text" id="nombre" placeholder="Ingresa tu nombre" />
      </div>
  
      <!-- Apellido -->
      <div class="form-group">
        <label for="apellido">Apellido <div class="obvio">*</div></label>
        <input type="text" id="apellido" placeholder="Ingresa tu apellido" />
      </div>
  
      <!-- Celular Fijo -->
      <div class="form-group">
        <label for="celularFijo">Celular Fijo</label>
        <input type="text" id="celularFijo" placeholder="Ingresa tu teléfono fijo" />
      </div>
  
      <!-- Celular -->
      <div class="form-group">
        <label for="celular">Celular <div class="obvio">*</div></label>
        <input type="text" id="celular" placeholder="Ingresa tu celular" />
      </div>
  
      <!-- Correo -->
      <div class="form-group">
        <label for="correo">Correo Electrónico <div class="obvio">*</div></label>
        <input type="email" id="correo" placeholder="Ingresa tu correo" />
      </div>
  
      <!-- Botón de Enviar -->
      <button type="submit" (click)="Siguiente()">Siguiente</button>
    </form>
  </div>
